.App {
  background-color: lightblue;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  text-shadow: 1px 2px 2px black;
  color: white;
}

.mainBox {
  padding: 45px;
}

button {
  margin-bottom: 10px;
}

#img {
  height: 50vh;
  margin: 0 auto;
}

.centerBox {
  display: flex;
}

.hidden {
  display: none;
}

h6 {
  margin: 0;
}